/*-------------------------
	Simple reset
--------------------------*/
* {
	margin: 0;
	padding: 0;
}

/*-------------------------
	General Styles
--------------------------*/
a,a:visited {
	outline: none;
	color: #43819b;
}

a:hover {
	text-decoration: none;
}

section,footer,header {
	display: block;
}

/*-------------------------
	Main Area
--------------------------*/
hgroup {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.7);
	width: 400px;
	height: 78px;
	top: 50%;
	left: 50%;
	margin: -120px 0 0 -225px;
	text-align: center;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0 0 3px rgba(100, 100, 100, 0.1), 0 3px 1px #D4D4D4;
	color: #555;
}

h1 {
	font-size: 22px;
	padding-bottom: 8px;
}

h2 {
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 8px;
}

h3 {
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	color: #999;
}

#cursors {
	position: relative;
}

#cursors .cursor {
	position: absolute;
	width: 15px;
	height: 22px;
	background: url('../img/pointer.png') no-repeat -4px 0;
}

#inputs {
	position: relative;
}

#inputs .input-text {
	width: 200px;
	height: 100px;
	display: none;
	opacity: 0.3;
	position: fixed;
}

/*-------------------------
	canvas area
--------------------------*/
#wrapper * {
	position: absolute;
	display: table;
}

/*-------------------------
	side area (chat)
--------------------------*/
.sidecontentpullout {
	background-color: Black;
	color: White;
	padding: 4px 3px;
	-moz-border-radius-bottomleft: 1em;
	-moz-border-radius-topleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-webkit-border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
}

.sidecontentpullout:hover {
	background-color: #444444;
	color: White;
}

.sidecontent {
	width: 100%;
	background-color: Black;
	color: White;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

.sidecontent>div>div {
	width: 100%;
	padding-left: 10px;
	padding-right: 40px;
}

#messages {
	width: 300;
	height: 400px;
	line-height: 120%;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

/*  video and cam */
#video {
	position: absolute;
	visibility: hidden;
}

#localVideo {
	height: 100%;
	width:100%;
	position: absolute;
}

#remotes video {
	/*height: 150px;*/
	position: relative;
	height: 100%;
	width:100%;
	/* margin-left: 10px; */ 
	/* top: 201px; */
}

.PPT-row img {
	width: 165px;
	heigh: 80px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
}

.button-area {
	padding-top: 8px;
	padding-left: 10px;
	height: 5%;
	position: absolute;
	z-index: 1;
}

/* divide sentence */
#lines {
	word-break: break-all;
}

	
#resizable-local{
	z-index: 9998;
	width: 100px;
	height: 100px;
	margin:0;
}	

#test{
	position: relative;
	z-index:9999;
}


